.title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.card {
  border-radius: 12px;
  background: var(--bg-light);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  height: 100%;

  cursor: pointer;

  transition: background-color 0.2s ease;
}

.card:hover {
  background-color: #f5f5f5;
}

.card:focus-visible {
  outline: 2px solid var(--text-main);
  outline-offset: 4px;
}

.imageWrapper {
  overflow: hidden;
}

.img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.content {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  flex: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: auto;
}

/* TABLET */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}