.header {
  width: 100%;
  position: sticky;
  top: 0;
  background: #F8F9FA;
  z-index: 100;
}

/* CONTAINER */
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

/* LOGO */
.logo {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  width: 40px;
}

/* NAV (oculto en mobile) */
.nav {
  display: none;
}

/* BURGER */
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  transition: all 0.3s ease;
  width: 24px;
  height: 2px;
  background: #111;
}

/* abierto */
.burgerOpen span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgerOpen span:nth-child(2) {
  opacity: 0;
}

.burgerOpen span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobileNav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.5rem;
  padding: 2rem;
  
  background: #F8F9FA;
  border-top: 1px solid #ddd;
}

.mobileNav a {
  text-decoration: none;
  color: #111;
  font-size: 1.2rem;
}

/* DESKTOP */
@media (min-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }

  /* Mostrar menú */
  .nav {
    display: flex;
    gap: 2rem;
  }

  .nav a {
    text-decoration: none;
    color: #111;
    font-size: 0.95rem;
  }

  /* Ocultar burger */
  .burger {
    display: none;
  }
}