.header {
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--bg-light);
  z-index: 100;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* CONTAINER */
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
}

/* LOGO */
.logo {
/*   display: flex;
  align-items: flex-end;
  gap: 4px;
  width: 45px; */
    width: 45px;
  height: auto;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

/* NAV (oculto en mobile) */
.nav {
  display: none;
}

/* BURGER */
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  transition: all 0.3s ease;
  width: 24px;
  height: 2px;
  background: var(--text-main);
}

/* abierto */
.burgerOpen span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burgerOpen span:nth-child(2) {
  opacity: 0;
}

.burgerOpen span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobileNav {
 position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(100vh - 80px);
  gap: 1.5rem;
  padding: 2rem;
  
  background: var(--bg-light);
}

.mobileNav a {
  text-decoration: none;
  color: var(--text-main);
  font-size: 1.2rem;
}

/* DESKTOP */
@media (min-width: 768px) {
  .container {
    padding: var(--padding) 2rem;
  }

  /* Mostrar menú */
  .nav {
    display: flex;
    gap: 2rem;
  }

  .nav a {
    text-decoration: none;
    color: var(--text-main);
    font-size: 0.95rem;
  }

  /* Ocultar burger */
  .burger {
    display: none;
  }
}